name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      # Kodlarınızı çeker (Güncel v4 sürümü)
      - uses: actions/checkout@v4

      # Python Kurulumu
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Gerekli Kütüphanelerin Kurulumu (Colab'daki gibi)
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip build-essential git python3 \
            python3-dev ffmpeg libsdl2-dev libsdl2-image-dev \
            libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev \
            libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev libgstreamer1.0 \
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            libltdl-dev libffi-dev libssl-dev autoconf libtool
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      # APK Derleme İşlemi
      - name: Build with Buildozer
        run: |
          # yes komutu lisans sorularına otomatik 'evet' der
          yes | buildozer android debug

      # APK'yı GitHub'a Yükleme (Hata veren v2 yerine yeni v4 sürümü)
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
