name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Gerekli Sistem Kütüphanelerini Yükle
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libgstreamer1.0 \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good \
            libsqlite3-dev \
            sqlite3 \
            bzip2 \
            libbz2-dev \
            libssl-dev \
            openssl \
            libgdbm-dev \
            libgdbm-compat-dev \
            liblzma-dev \
            libreadline-dev \
            libncursesw5-dev \
            libffi-dev \
            uuid-dev

      # Buildozer'ı Kur
      - name: Install Buildozer
        run: |
          pip3 install --upgrade buildozer cython==0.29.33 virtualenv

      # Buildozer ile APK Derle
      - name: Build with Buildozer
        run: |
          # buildozer.spec dosyasında android.accept_sdk_license = True olduğundan emin ol veya yes komutunu kullan
          yes | buildozer android debug

      # APK'yı GitHub Artifacts'a Yükle
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          retention-days: 3
